@{
    ViewData["Title"] = "Home Page";
}
@{ if (TempData.Peek("message") != null)
    {
        <h6 style="color:red">Error: @TempData.Peek("message")</h6>
    }
}
<form asp-action="Index" method="post">
    Family letter:
    <select name="familyLetter" required>
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
    </select>
    Start Time:
    <select name="startTime" required>
        <option value="2019-10-10T17:00">5PM</option>
        <option value="2019-10-10T18:00">6PM</option>
        <option value="2019-10-10T19:00">7PM</option>
        <option value="2019-10-10T20:00">8PM</option>
        <option value="2019-10-10T21:00">9PM</option>
        <option value="2019-10-10T22:00">10PM</option>
        <option value="2019-10-10T23:00">11PM</option>
        <option value="2019-10-11T00:00">12AM</option>
        <option value="2019-10-11T01:00">1PM</option>
        <option value="2019-10-11T02:00">2AM</option>
        <option value="2019-10-11T03:00">3AM</option>
    </select>
    End Time:
    <select name="endTime" required>
        <option value="2019-10-10T18:00">6PM</option>
        <option value="2019-10-10T19:00">7PM</option>
        <option value="2019-10-10T20:00">8PM</option>
        <option value="2019-10-10T21:00">9PM</option>
        <option value="2019-10-10T22:00">10PM</option>
        <option value="2019-10-10T23:00">11PM</option>
        <option value="2019-10-11T00:00">12AM</option>
        <option value="2019-10-11T01:00">1PM</option>
        <option value="2019-10-11T02:00">2AM</option>
        <option value="2019-10-11T03:00">3AM</option>
        <option value="2019-10-11T04:00">4AM</option>
    </select>
    <input type="submit" value="Calculate" />
</form>